<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!-- <% if(listTitle === 'Friday') { %>
        <h1 style="color: purple;"><%= listTitle %> Todo List</h1>
    <% }
    else { %>
        <h1 style="color: blue;"><%= listTitle %> Todo List</h1>
    <% } %> -->
    
    <h1><%= listTitle %></h1>
    <% newListItem.forEach((item) => {%>
        <p><input type="checkbox" >  <%= item %></p>
    <%}) %>

    <form action="/" method="post">
        <input type="text" name="newItem" autocomplete="off" required>
        <button type="submit" name="button">Add</button>
    </form>
    

</body>
</html>